* {
    box-sizing: border-box;
}

#content {
    border-top: 1px solid;
}

textarea {
    width: 100%;
    font-size: large;
}

input {
    width: 100%;
    font-size: large;
}

body {
    position: relative;
}

button {
    background: black;
    color: white;
    margin-top: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0.75rem 2.1875rem;
    line-height: 1.8;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    touch-action: manipulation;
    width: 100%;
}

.bootbox button {
    width: auto;
}

h1 {
    color: black;
    font-family: "Adobe Ming Std";
}

h2 {
    color: black;
    font-family: "Times New Roman";
}

h3 {
    color: green;
    font-family: "American Typewriter";
}

h4 {
    color: black;
    font-family: "Times New Roman";
}

h5 {
    color: black;
}

h6 {
    float: right;
}

.time {
    margin-left: 13%;
    font-size: 48px;
}

#display6 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #b2b2b2;
    font-weight: 200;
    font-size: 0.8rem;
    border-top: 1px solid #F8F8F8;
    text-align: center;
}

.footerImg {
    width: 128px;
    height: 29px;
}

.deploy_contract span {
    color: black;
    display: -webkit-inline-box;
}


.title {
    text-align: center;
    color: black;
    font-size: 30px;
}

.active1 {
    display: none;
}

#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0;
}

#tabs li a {
    position: relative;
    padding: 10px 50px;
    float: left;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

.ccc {
    background-color: black;
}

.ccc a {
    color: #fff;
}

.current a {
    outline: 0;
    z-index: 4;
}

.hoverItem a {
    background: black;
    color: #fff;
}

.item {
    display: none;
}

.show {
    display: block;
}

.nonce {
    display: none;
}

.row {
    color: black;
}

.lh {
    line-height: 100px;
}

.stop {
    background-color: gray;
}

.execution_banner {
    width: 90%;
    height: 200px;
    background-color: #f5f5f5;
    margin: 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.form-check {
    display: inline-block;
}

.deploy_contract .deploy_errmsg {
    color: red;
}

#receipt {
    word-break: break-all;
}

#receipt_call {
    word-break: break-all;
}


#tab3 .run_errmsg {
    color: red;
}

.err {
    border-color: red;
}

.mt20 {
    margin-top: 20px;
}

.code {
    background-color: #f8f9fa;
    font-family: consolas, menlo, monaco, lucida console, liberation mono, dejavu sans mono, bitstream vera sans mono, courier new, monospace;
    overflow: auto;
    white-space: pre;
}

.next a {
    display: block;
}

.errmsg {
    color: red;
}