<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <link rel="icon shortcut" href=img/logo.png type=image/png>
    <link rel=apple-touch-icon href=img/logo.png>
    <link rel=stylesheet href=https://cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css>
    <link rel=stylesheet href=https://cdn.bootcss.com/tether/1.4.3/css/tether.min.css>
    <link rel=stylesheet href=css/base.css>
    <link rel=stylesheet href=css/home.css>
    <link rel=stylesheet href=css/ui-block.css>
    <meta name=viewport content="width=device-width">
    <title>星云链测试网 | Nebulas Testnet</title>

    <style>
        .hash {
            height: 400px;
            box-shadow: 16px 16px 47px 2px rgba(0, 0, 0, .07);
            padding: 1.5rem 2rem;
            min-height: 1.5rem;
            margin: 1rem auto;
            position: relative;
            text-align: center;
        }

        .information {
            height: 830px;
            box-shadow: 16px 16px 47px 2px rgba(0, 0, 0, .07);
            padding: 1.5rem 2rem;
            min-height: 1.5rem;
            margin: 1rem auto;
            position: relative;
            text-align: center;
        }

        .active {
            display: none;
        }
    </style>

</head>

<body>
    <div class="logo"></div>
    <div class="header"></div>

    <section class="hash">
        <article class="row"></article>
        <section class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
            <h1 translate="NAV_CheckTxStatus" class="ng-scope">Check TX Status</h1>
            <p translate="tx_Summary" class="ng-scope">During times of high volume (like during ICOs) transactions can be pending for hours, if not days. This tool
                aims to give you the ability to find and "cancel" / replace these TXs.
                <strong> This is not typically something you can do. It should not be relied upon &amp; will only work when the TX
                    Pools are full.
                    <a target="_blank" rel="noopener noreferrer" href="https://myetherwallet.github.io/knowledge-base/transactions/check-status-of-ethereum-transaction.html">Please, read about this tool here.</a>
                </strong>
            </p>
        </section>
        <section class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            <input class="form-control ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched is-valid" type="text" placeholder="0x3f0efedfe0a0cd611f2465fac9a3699f92d6a06613bc3ead4f786856f5c73e9c"
                ng-model="txInfo.hash" ng-keyup="$event.keyCode == 13 &amp;&amp; checkTxStatus()" aria-label="TX Hash
      " ng-class="Validator.isValidTxHash(txInfo.hash) ? 'is-valid' : 'is-invalid'">
            <button id="btn" tabindex="0" role="button" class="btn btn-primary ng-scope" ng-click="checkTxStatus()" translate="NAV_CheckTxStatus">Check TX Status</button>
        </section>
        </article>
    </section>

    <section class="information active" id="info">
        <div class="cont-md" ng-show="txInfo.status == txStatus.mined">
            <h3 class="text-success ng-scope" translate="tx_FoundOnChain">Transaction Found</h3>
            <h5>
                <a href="https://etherscan.io/tx/" target="_blank" rel="noopener noreferrer" class="ng-binding"> </a>
            </h5>
            <p>
                <strong translate="tx_FoundOnChain_1" class="ng-scope">Your transaction was successfully mined and is on the blockchain.</strong>
            </p>
            <ul>
                <li translate="tx_FoundOnChain_2" class="ng-scope">
                    <strong>If you see a red
                        <code>( ! )</code>, a
                        <code>BAD INSTRUCTION</code> or
                        <code>OUT OF GAS</code> error message</strong>, it means that the transaction was not successfully
                    <em>sent</em>. You cannot cancel or replace this transaction. Instead, send a new transaction. If you received
                    an "Out of Gas" error, you should double the gas limit you specified originally.</li>
                <li translate="tx_FoundOnChain_3" class="ng-scope">
                    <strong>If you do not see any errors, your transaction was successfully sent.</strong> Your ETH or Tokens are
                    where you sent them. If you cannot see this ETH or Tokens credited in your other wallet / exchange account,
                    and it has been 24+ hours since you sent, please
                    <a target="_blank" rel="noopener noreferrer" href="https://myetherwallet.github.io/knowledge-base/diving-deeper/ethereum-list-of-support-and-communities.html">contact that service</a>. Send them the
                    <em>link</em> to your transaction and ask them, nicely, to look into your situation.</li>
            </ul>
        </div>

        <div ng-show="txInfo.status == txStatus.found || txInfo.status == txStatus.mined" class="">
            <h4 translate="tx_Details" class="cont-md ng-scope">Transaction Details</h4>
            <br>
            <table class="table table-striped txstatus__2 cont-md">
                <!-- ng-show="tx.status=='foundOnChain' || foundInPending'"-->
                <tbody>
                    <tr>
                        <td translate="x_TxHash" class="ng-scope">TX Hash</td>
                        <td>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="ng-binding">
                                xxxxxxxx
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td translate="OFFLINE_Step1_Label_1" class="ng-scope">From Address</td>
                        <td>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="ng-binding">
                                xxxxxxx
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td translate="OFFLINE_Step2_Label_1" class="ng-scope">To Address</td>
                        <td>
                            <a href="#" target="_blank" rel="noopener noreferrer" class="ng-binding">
                                xxxxxxx
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td translate="SEND_amount_short" class="ng-scope">Amount</td>
                        <td class="ng-binding">
                            0 ETH
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="account-help-icon" href="#" target="_blank" rel="noopener noreferrer">
                            </a>
                            <span translate="OFFLINE_Step2_Label_5" class="ng-scope">Nonce</span>
                        </td>
                        <td class="ng-binding">
                            982
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="account-help-icon" href="#" target="_blank" rel="noopener noreferrer">
                            </a>
                            <span translate="OFFLINE_Step2_Label_4" class="ng-scope">Gas Limit</span>
                        </td>
                        <td class="ng-binding">
                            xxxxxxxx
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="account-help-icon" href="#" target="_blank" rel="noopener noreferrer">
                            </a>
                            <span translate="OFFLINE_Step2_Label_3" class="ng-scope">Gas Price</span>
                        </td>
                        <td class="ng-binding">
                            4 GWEI
                            <small class="ng-binding">
                                (4000000000 WEI)
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <td translate="OFFLINE_Step2_Label_6" class="ng-scope">Data</td>
                        <td class="ng-binding">
                            xxxxxxxx
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div id="send" class="container send">
        <div id="sendNas" class="col-md-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="fromaddress">From Address</label>
                        <input type="text" class="form-control" id="fromaddress" placeholder="" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="balance">Balance</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="balance" placeholder="">
                            <div class="input-group-addon">NAS</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="toaddress">To Address</label>
                <input type="text" class="form-control" id="toaddress" placeholder="">
            </div>
            <div class="form-group">
                <label for="amount">Value / Amount to Send</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="amount" placeholder="Amount">
                    <div class="input-group-addon">NAS</div>
                </div>
            </div>
            <div class="form-group">
                <label for="limit">Gas Limit</label>
                <input type="text" class="form-control" id="limit" value="20000" placeholder="">
            </div>
            <div class="form-group">
                <label for="price">Gas Price</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="price" value="1000000" placeholder="">
                    <div class="input-group-addon">NIS</div>
                </div>
            </div>
            <div class="form-group">
                <label for="nonce">Nonce</label>
                <input type="text" class="form-control" id="nonce" placeholder="">
            </div>
            <button id="generate" type="submit" class="btn btn-default col-xs-12 col-sm-12 col-md-12 text-center">Generate Transaction</button>
        </div>
    </div>
    <!-- send -->
    <div id="transaction" class="container transaction">
        <div class="col-md-6">
            <div class="form-group">
                <label for="raw">Raw Transaction</label>
                <textarea class="form-control" rows="8" id="raw"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="signed">Signed Transaction</label>
                <textarea class="form-control" rows="8" id="signed"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <button id="sendtransaction" type="submit" class="btn btn-default col-xs-12 col-sm-12 col-md-12 text-center">Send Transaction</button>
        </div>
    </div>
    <!-- Transaction -->
    <div class="container transaction" id="receipt_div" style="display:none;">
        <div class="col-md-6">
            <div class="form-group">
                <label for="raw">txhash</label>
                <textarea readonly id="receipt" rows="6" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="signed">receipt</label>
                <textarea readonly id="receipt_state" rows="6" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <!-- hxhash -->

    <!-- footer -->
    <section class=" mbr-section mbr-section-sm-padding mbr-footer ">
        <div class="container ">
            <div class="row ">
                <div class="mbr-footer-content col-xs-12 text-xs-center footer-title ">
                    <a href="# ">
                        <img src="img/logo-b.png " alt="Nebulas Testnet ">
                    </a>
                </div>
                <div class="mbr-footer-content col-xs-12 text-xs-center ">
                    <p>
                        <a href="https://nebulas.io/">Home</a>
                        <a href="https://nebulas.io/technology.html">Technology</a>
                        <a href="https://nebulas.io/community.html">Community</a>
                        <a href="https://nebulas.io/team.html">Team</a>
                        <a href="https://nebulas.io/resources.html">Resources</a>
                        <a href="https://medium.com/nebulasio" target="_blank">Blog</a>
                    </p>
                </div>
                <div class="mbr-footer-content col-xs-12 text-xs-center ">
                    <p>Copyright &copy; 2017 Nebulas.io, 814 Mission Street, San Francisco</p>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" tabindex="-1" id="info" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">info</h4>
                </div>
                <div class="modal-body">
                    <p>unlocking&hellip;</p>
                </div>
            </div>
        </div>
    </div>

    <script src=https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js></script>
    <script src=https://cdn.bootcss.com/tether/1.4.3/js/tether.min.js></script>
    <script src=https://cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js data-depends=jquery></script>
    <script src=https://cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js data-depends="jquery tether"></script>
    <script src=js/home.v1.js></script>
    <script src=js/wallet.js></script>
    <script src=js/ui-block.js data-depends=jquery></script>

    <script>
        $(function () {

            uiBlock({
                header: ".header",
                logo: ".logo"
            });

            $("#btn").click(function () {
                $("#info").removeClass("active");
            });


        });

    </script>

</body>

</html>